/* You can add global styles to this file, and also import other style files */
body{
    background-color: gray;
    margin: 0;
}

.pointer{
    cursor: pointer;
}

.center{
    text-align: center !important;
}

.avatar {
    height: 50px;
    width: 50px;
    border: 1.5px solid #0c4c66;
    padding: 1px;
}
/*Estilo scroll */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color:#e2e2e2;
    color: white!important;
}

::-webkit-scrollbar-track {
    background-color: white;
    color: white!important;
}

::-moz-scrollbar {
    width: 5px;
    height: 5px;
}

::-moz-scrollbar-thumb {
    background-color:#e2e2e2;
    color: white!important;
}

::-moz-scrollbar-track {
    background-color: white;
    color: white!important;
}

::-ms-scrollbar {
    width: 5px;
    height: 5px;
}

::-ms-scrollbar-thumb {
    background-color:#e2e2e2;
    color: white!important;
}

::-ms-scrollbar-track {
    background-color: white;
    color: white!important;
}

/* Definiendo margenes */

.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mt-70{
    margin-top: 70px;
}
.mt-100{
    margin-top: 100px;
}
.mt-200{
    margin-top: 200px;
}
/*Definiendo paddign*/
.pb-10{
    padding-bottom: 10px;
}
/*Diseño botones*/
.btn-1{
    background-color: #0c4c66;
    color: white;
}
.btn-1:hover{
    background-color: #1c6380;
}